.product-name {
  display: flex;
  background-color: $color-blue;
  padding: 25px 50px 0 50px;
  justify-content: space-between;
}

.product-name-text {
  @include text-style;
  font-size: 60px;
  line-height: 69px;
  color: $color-white;
  margin: 0;
}

ul {
  padding-inline-start: 0;
  list-style: none;
}

.product-name-list-points>li::before{
  content: '✔ ';
}

.product-name-list {
  padding-top: 40px;
  color: $color-white;
  @include text-style;
}

.product-name-video {
  width:289px;
  height:217px;
  background-color: $color-white;
  margin-bottom: 33px;
}

.product-name-wrap {
  position: relative;
}

.product-name-img {
  position: absolute;
  width: 289px;
  height: 217px;
  top: 0;
  left: 0;
}