@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  padding: 0;
  margin: 0;
}

.product-name {
  display: flex;
  background-color: #445161;
  padding: 25px 50px 0 50px;
  justify-content: space-between;
}

.product-name-text {
  font-family: Roboto, serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 69px;
  color: #FFFFFF;
  margin: 0;
}

ul {
  padding-inline-start: 0;
  list-style: none;
}

.product-name-list-points > li::before {
  content: "✔ ";
}

.product-name-list {
  padding-top: 40px;
  color: #FFFFFF;
  font-family: Roboto, serif;
  font-weight: 400;
}

.product-name-video {
  width: 472px;
  height: 217px;
  background-color: #FFFFFF;
  margin-bottom: 33px;
}

.main {
  padding: 120px 50px 0 50px;
  display: flex;
}

.main-video {
  width: 430px;
  min-width: 430px;
  height: 245px;
  margin-left: 96px;
  background-color: #445161;
}

.main-description-about {
  font-family: Roboto, serif;
  font-weight: 400;
  color: #445161;
  padding-bottom: 17px;
  font-size: 30px;
  line-height: 36px;
}

.main-description-text-lorem,
.main-description-text-pariatur {
  font-family: Roboto, serif;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

.items {
  padding: 0 50px;
  background-color: #F5F5F5;
}

.items-header {
  text-align: center;
  font-family: Roboto, serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  padding: 25px;
}

.items-points {
  display: flex;
  justify-content: space-around;
}

.items-points-left,
.items-points-right {
  max-width: 560px;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary:focus {
  outline: 0;
}

.items-points-left details summary:before,
.items-points-right details summary:before {
  content: "+";
  margin-right: 7px;
  padding: 0 10px;
  margin-bottom: -2px;
  background-color: #445161;
  color: #FFFFFF;
  font-size: 34px;
  float: left;
}

.items-points-left details[open] summary:before,
.items-points-right details[open] summary:before {
  content: "-";
  padding: 0 14px;
}

.items-points-left > ul > li,
.items-points-right > ul > li {
  margin: 3px;
}

.items-points-left details,
.items-points-right details {
  padding: 3px;
}

.screenshots {
  padding: 25px 50px;
}

.screenshots-header {
  padding-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-family: Roboto, serif;
  font-weight: 400;
  color: #445161;
}

.screenshots-wrap {
  display: flex;
}

.content-img {
  width: 202px;
  min-width: 202px;
  height: 153px;
  background-color: #445161;
  margin-right: 14px;
}

.screenshots-wrap-left-content,
.screenshots-wrap-right-content {
  display: flex;
  padding-bottom: 27px;
}

.content-header {
  font-size: 24px;
  line-height: 30px;
  color: #445161;
  font-family: Roboto, serif;
  font-weight: 400;
  margin-bottom: 13px;
}

.screenshots-wrap-left-content {
  padding-right: 15px;
}

.screenshots-wrap-right-content {
  padding-left: 15px;
}

.content-description {
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto, serif;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
